/*Add CSS styles here*/
#map {
    height: 600px;
    width: 100%;
    display: inline-block;
}
.sequence-control-container {  
    width: 350px;  
    height: 35px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}  
.range-slider {  
    width: 250px;  
}  

.step {  
    width: 45px;  
}  

.step img {  
    width: 100%;  
    height: auto;  
}  

#forward {
    float: right;
    
}
    
#reverse {  
    float: left;  
    
}

.narrative-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 9999;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#zoomToWorldButton {
    display: none; /* Hide button initially */
}

/*style for title*/
.leaflet-no-border {
    border: none !important; /* Remove default Leaflet border */
}
